<div ng-init='loadData()'>
  <table>
    <tr>
      <th>Name</th>
      <th>Authorization Level</th>
      <th>Is Administrator?</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <select ng-change="updateTable()" ng-model="person">
          <option ng-repeat="user in users">{{user.displayname}}</option>
        </select>
      </td>
      <td>{{selectedPerson.authorizationlevel}}
        <input type='text' placeholder='update authorization' ng-model="selectedPerson.authorizationlevel"/>
      </td>
      <td>
        <input type='checkbox' ng-checked="selectedPerson.isadmin" ng-model="selectedPerson.isadmin"/>
      </td>
      <td>
        <input type='submit' ng-click="updateUser()"/>
      </td>
    </tr>
  </table>
</div>





<!--DEV PURPOSES
  create ticket and create claim - update DB schemas  -->
