body {
	font-family: "Inconsolata", "Times New Roman", serif;
	background-color: #2d2d2d;
}

#welcome, #support {
	color: #E8E9F9;
	margin-left: 20px;
  display: inline-block;
}

#welcome {
  font-family: "Unica One", "Times New Roman", serif;
  font-size: 54px
}

h1 {
	margin-top: 4%;
	margin-bottom: 0;
}


table {
	margin-top: 2.5%;
}

tr, td{
	padding: 50px;
	border: 1px solid white;
	color: gray;
}

th {
	padding: 15px;
	border: 1px solid white;
}

input{
	margin: 10px;
}

input[type=number] {
	width: 2em;
}

.hidden {
	display: none;
}

#support {
	padding-bottom: 10px;
  font-size: 23px
}
.signoutb {
  margin: 0 auto;
  margin-top: 20px;
  width: 250px;
}

.ticketNav {
	color: white;


}

.lobby {
	display: inline-block;
	margin-right: -10px;

}

.user {
	display: inline-block;

}

.list-group {
	height: 25em;
	overflow: auto;
}


.list-group, .input-group, .davidcrappybuttons {
   width: 25em;
}

.list-group {
  margin-right: 100px;
}

.lobby, .user {
	display: inline-block;

}

.input-group {

	display: inline-block;
}

.ticket {
	padding-bottom: 2px;
}


.list-group-item, .form-control, .input-text {
	background-color: #E8E9F9;
}

.locationtext {
	margin-left: 10px;
	color: white;
}

.red {
	color: red;
  text-shadow: 0 0 0.2em #FF6C6C;
}

.input-text {
	margin-top: 20px;
	width:360px;
  height: 40px
}

.submit {
	width: 80px;
	display: inline;

}

.btn {
	color: #613DC1;
}

.btn-1 {
	display: inline;
	float: right;
}

.list-group-item-heading {
	display: inline
}

.ticket-claimed, .ticket-claimed:hover {
	background-color: grey;
}

.studentTicket {
	background-color: #48D962;
}

.fellowTicket {
	background-color: #FFFFA4;
}

.instructorTicket {
	background-color: #E45454;
}


#queueContainer, #map {
	display: inline-block
}

#big-container {
	width: 950px;
	margin: 0 auto;
  margin-top: 20px
}

#signin {
	width: 40%;
	margin: 0 auto;
	text-align:center;
	padding-top: 50px;
	margin-top: 80px;
}

#map {
	float: right;
	margin-top: -30px;
	width: 30%;
	position: absolute;
	text-align: center;
}

.bathroomAlert {
	margin-left: 30%;
	margin-top: 60%;
	position: absolute;
	width: 70%;
	height: 10%;
	color: #BE04F0;
	background-color: #3D3340;
	z-index: 99;
	border: 1px solid gray;
	border-radius: 10px;
}

.hiddenDot, .hiddenPulse {
	display: none;
}

#holder {
	margin: 50px auto;
	width: 50px;
	height: 50px;
	position: relative;
}

.pulse {
	width: 13px;
	height: 13px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	z-index: 10;
	position: absolute;
}

.dot {
	background: transparent;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	height: 40px;
	width: 40px;
	-webkit-animation: pulse 3s ease-out;
	-moz-animation: pulse 3s ease-out;
	animation: pulse 3s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	position: absolute;
	top: -14.5px;
	left: -14.5px;
	z-index: 1;
	opacity: 0;
}

@-moz-keyframes pulse {
 0% {
	-moz-transform: scale(0.1);
	opacity: 0.0;
 }
 50% {
	opacity: 0.3;
 }
 100% {
	-moz-transform: scale(1);
	opacity: 0.0;
 }
}
@-webkit-keyframes "pulse" {
 0% {
	-webkit-transform: scale(0.1);
	opacity: 0.0;
 }
 50% {
	opacity: 0.3;
 }
 100% {
	-webkit-transform: scale(1);
	opacity: 0.0;
 }
}

footer {
    clear: both;
    position: relative;
    margin-top: 40px;
    margin-bottom: -8px;
    text-align: center;
    font-size: 12px;
    display: block;
    padding-top: 10px
}

.unsolv {
	width: 80px;
	text-align: center;
	margin-right: 5px;
}

.solv, .unsolv {
	height: 30px;
	font-size: 12px;
	padding: 0px;
}

.solv {
	width: 50px;
}

.headerbar {
  color: white;
  text-align: center;
  display: block;
  height: 50px;
  width: 100%;
  border: 10px;

}

.logoimg {
  height: 100%;
  margin: auto;
  float: left;
}

.welcomeMessage {
  color: white;
  display: inline-block;
  margin-top: 6px;

}

.role {
  color: green;
  font-weight: bolder;
}

.signout, .admin {
  color: white;
  float: right;
  cursor: pointer;
  margin-top: 6px;

}

.signinbtn {
  background-color: #E8E9F9;
  margin-left: 11px
}

.signinbtn:hover, .signout:hover, .admin:hover {
  background-color: #424242;
}

.seanissoocool {
	background-color: red;


}

.admintable {
  width: 100%;
  margin: 0px;
  border: 0px;
  margin-top: 20px;
}

.admintable tr:nth-child(2) {
  height: 1px;
  padding: 0px;
  margin: 0px;
}

.admintable td {
  text-align: center;
  padding: 20px;
}

.admintable th {
  text-align: center;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.adminpage {
  font-size: 1em;
}


/*extra stuff I don't think we need (but just in case):*/
.clearfix {
  overflow: auto;
}

.logo {
  width:180px;
  height:180px;
  margin: 0 auto;
  padding-left: 5px;
  margin-bottom: 30px;
}


/*.headerq {
  display: block;
<<<<<<< HEAD
}*/


/*.headerq {
  display: block
